### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [69]:
# Createa a new Data Frame for Unique Players
unique_players_count_df = pd.DataFrame(
    {"Total Players": [purchase_data['SN'].nunique()]
    }
)
unique_players_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Create a new Data Frame and get the data
purchase_data_analysis = pd.DataFrame(
    {"Number of Unique Items": [purchase_data['Item Name'].nunique()],
     "Average Price": [purchase_data['Price'].mean()],
     "Number of Purhases": [purchase_data['Purchase ID'].nunique()],
     "Total Revenue": [purchase_data['Price'].sum()]
     }
)

# Clean up the formatting
purchase_data_analysis["Average Price"] = purchase_data_analysis["Average Price"].astype(float).map(
    "${:,.2f}".format)
purchase_data_analysis["Total Revenue"] = purchase_data_analysis["Total Revenue"].astype(float).map(
    "${:,.2f}".format)

purchase_data_analysis

   Number of Unique Items Average Price  Number of Purhases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [73]:

# Get the data

#gender_demographics_df = purchase_data.set_index("Gender")
gender_demographics_df = purchase_data
gender_demographics_df.set_index(["Gender"])
gender_demographics_df 

#Total_Players = gender_demographics_df['SN'].nunique()

#gendercount = gender_demographics_df["Gender"].count

#genderpercent = gendercount / Total_Players
#genderpercent


# Questions:
# 1 - I am so lost here. n
# 2 - need to showhow group the 'Avg Total Purchase per Person' together?

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [82]:
# Get the data
purchase_analysis_gender = pd.DataFrame(
    {"Gender": [purchase_data['Gender']],
     "Purchase Count": [purchase_data['Purchase ID'].nunique()],
     "Average Purchase Price": [purchase_data['Price'].mean()],
     "Total Purchase Value": [purchase_data['Price'].sum()],
     "Avg Total Purchase per Person": [purchase_data['Price'] / [purchase_data['Purchase ID'].nunique()]]
     }
)

## ???? purchase_analysis_gender.set_index(['Gender'])

# Clean up the formatting
purchase_analysis_gender["Average Purchase Price"] = purchase_analysis_gender["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_analysis_gender["Total Purchase Value"] = purchase_analysis_gender["Total Purchase Value"].astype(float).map("${:,.2f}".format)
#purchase_data_analysis["Avg Total Purchase per Person"] = purchase_data_analysis["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

purchase_analysis_gender

# Questions:
# 1 - need to somehow incorporate gender into this table then group by?
# 2 - need to showhow group the 'Avg Total Purchase per Person' together?

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,0 Male 1 Male 2 Male 3 ...,780,$3.05,"$2,379.77",0 0.004526 1 0.002000 2 0.00625...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [78]:
#Import data frame
age_bin = pd.DataFrame(
    {"Gender": [purchase_data['Gender']],
     "Age": [purchase_data['Age']]
    }
)
age_bin
# Create the bins and bin labels in which Data will be held
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#age_bin["Test Score Summary"] = pd.cut(purchase_data['Age'], bins, labels=group_names, include_lowest=True)
age_bin

,Gender,Age
0,0 Male 1 Male 2 Male 3 ...,0 20 1 40 2 24 3 24 4 ...

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame