### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [26]:
# Listing of Variables used in the report
totalplayercount = purchase_data["SN"].nunique()
totalpurchasecount = purchase_data["Purchase ID"].nunique()

## Player Count

* Display the total number of players

In [27]:
# Createa a new Data Frame for Unique Players
unique_players_count_df = pd.DataFrame(
    {"Total Players": [totalplayercount]
    }
)

unique_players_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
# Create a new Data Frame and get the data
purchase_data_analysis = pd.DataFrame(
    {"Number of Unique Items": [purchase_data['Item Name'].nunique()],
     "Average Price": [purchase_data['Price'].mean()],
     "Number of Purhases": [purchase_data['Purchase ID'].nunique()],
     "Total Revenue": [purchase_data['Price'].sum()]
     }
)

# Clean up the formatting
purchase_data_analysis["Average Price"] = purchase_data_analysis["Average Price"].astype(float).map("${:,.2f}".format)
purchase_data_analysis["Total Revenue"] = purchase_data_analysis["Total Revenue"].astype(float).map("${:,.2f}".format)

purchase_data_analysis

   Number of Unique Items Average Price  Number of Purhases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [29]:
# Get the data and create calculations
gender_demographics_df = purchase_data
gender_demographics_df = gender_demographics_df.drop_duplicates(subset="SN", keep='first')
gender_demographics_df = gender_demographics_df['Gender'].value_counts()
uniquepersongender = gender_demographics_df

# Calculate the Percentage of players for each gender (total players = unique count of players)
percentage_df = gender_demographics_df / totalplayercount

# Create a new dataframe to display the results 
display_df = pd.DataFrame(
    {"Total Count": gender_demographics_df,
     "Percentage of Players": percentage_df
    }
)    

# Clean up the formatting
display_df["Percentage of Players"] = display_df["Percentage of Players"].astype(float).map("{:,.2%}".format)

# Display DF 
display_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# Get the data and create calculations
gender_demographics_df = purchase_data
gender_demographics_df = gender_demographics_df['Gender'].value_counts()

# Calculate the Count of Sales, Average Price and Total 
sumprice = purchase_data.groupby(["Gender"]).sum()["Price"]
meanprice = purchase_data.groupby(["Gender"]).mean()["Price"]
countsale = purchase_data.groupby(["Gender"]).count()["Price"]
countsale = purchase_data.groupby(["Gender"]).nunique()["Price"]
averagesaleperson = sumprice / uniquepersongender

# Create a new dataframe to display the results 
display_df1 = pd.DataFrame(
    {"Purchase Count": gender_demographics_df,
     "Average Purchase Price": meanprice,
     "Total Purchase Value": sumprice,
     "Avg Total Purchase per Person": averagesaleperson,
    }
)   

# Clean up the formatting
display_df1 = display_df1.sort_index(axis=0, level=None, ascending=True)
display_df1["Average Purchase Price"] = display_df1["Average Purchase Price"].astype(float).map("${:,.2f}".format)
display_df1["Total Purchase Value"] = display_df1["Total Purchase Value"].astype(float).map("${:,.2f}".format)
display_df1["Avg Total Purchase per Person"] = display_df1["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

# Display DF
display_df1

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:
# Get the data
age_bin = purchase_data[["Age", "SN"]]

# Remove the duplicate screen name values
age_bin = age_bin.drop_duplicates(subset="SN", keep='first')

# Create the bins and bin labels in which Data will be held
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Cut the details into the relevant bins
age_bin["Age Ranges"] = pd.cut(purchase_data['Age'], bins, labels=group_names, include_lowest=True)

# Create a new column to store the age range values
age_ranges = age_bin["Age Ranges"].value_counts()

# Calculate the Percentage of players for each gender (total players = unique count of players)
age_percentage = age_ranges / totalplayercount

# Create a new dataframe to display the results 
display_df2 = pd.DataFrame(
    {"Total Count": age_ranges,
     "Percentage of Players": age_percentage
    }
)

# Clean up the formatting (including sort order)
display_df2 = display_df2.sort_index(axis=0, level=None, ascending=True)
display_df2["Percentage of Players"] = display_df2["Percentage of Players"].astype(float).map("{:,.2%}".format)

# Display DF
display_df2

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
# Get the data
age_bin = purchase_data
age_bin

# Create the bins and bin labels in which Data will be held
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Cut the details into the relevant bins
age_bin["Age Ranges"] = pd.cut(purchase_data['Age'], bins, labels=group_names, include_lowest=True)

# Create a new column to store the age range values
age_ranges = age_bin.groupby(["Age Ranges"]).count()["Age"]

# Calculate the Count of Sales, Average Price and Total 
sumprice = age_bin.groupby(["Age Ranges"]).sum()["Price"]
meanprice = age_bin.groupby(["Age Ranges"]).mean()["Price"]
countsale = age_bin.groupby(["Age Ranges"]).count()["Price"]
averagesaleperson = sumprice / display_df2["Total Count"]

# Create a new dataframe to display the results 
display_df3 = pd.DataFrame(
    {"Purchase Count": age_ranges,
     "Average Purchase Price": meanprice,
     "Total Purchase Value": sumprice,
     "Avg Total Purchase per Person": averagesaleperson,
    }
)

# Clean up the formatting (including sort order)
display_df3 = display_df3.sort_index(axis=0, level=None, ascending=True)
display_df3["Average Purchase Price"] = display_df3["Average Purchase Price"].astype(float).map("${:,.2f}".format)
display_df3["Total Purchase Value"] = display_df3["Total Purchase Value"].astype(float).map("${:,.2f}".format)
display_df3["Avg Total Purchase per Person"] = display_df3["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

# Display DF
display_df3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
# Calculate the Count of Sales, Average Price and Total 
sumprice = age_bin.groupby(["SN"]).sum()["Price"]
meanprice = age_bin.groupby(["SN"]).mean()["Price"]
countsale = age_bin.groupby(["SN"]).count()["Price"]
averagesaleperson = sumprice / countsale

# Create a new dataframe to display the results 
display_df4 = pd.DataFrame(
    {"Purchase Count": countsale,
     "Average Purchase Price": meanprice,
     "Total Purchase Value": sumprice,
    }
)

# Clean up the formatting (including sort order)
display_df4 = display_df4.sort_values(["Total Purchase Value"], ascending=False)

display_df4["Average Purchase Price"] = display_df4["Average Purchase Price"].astype(float).map("${:,.2f}".format)
display_df4["Total Purchase Value"] = display_df4["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# Display DF
display_df4.head(5000)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10
...                     ...                    ...                  ...
Ililsasya43               1                  $1.02                $1.02
Irilis75                  1                  $1.02                $1.02
Aidai61                   1                  $1.01                $1.01
Chanirra79                1                  $1.01                $1.01
Alo38                     1                  $1.00                $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
popular_items_df = purchase_data[["Item ID", "Item Name", "Price"]]
popular_items_df = popular_items_df.groupby(["Item ID","Item Name"])

# Calculate the Count of Sales, Average Price and Total
sumprice = popular_items_df["Price"].sum()
sumcount = popular_items_df["Price"].count()
itemprice = sumprice / sumcount

# Create a new dataframe to display the results 
display_df5 = pd.DataFrame(
    {"Purchase Count": sumcount,
     "Item Price": itemprice,
     "Total Purchase Value": sumprice
    }
)

# Clean up the formatting (including sort order of "Purchase Count")
display_df5 = display_df5.sort_values(["Purchase Count"], ascending=False)

display_df5["Purchase Count"] = display_df5["Purchase Count"].astype(float).map("{:,.0f}".format)
display_df5["Item Price"] = display_df5["Item Price"].astype(float).map("${:,.2f}".format)
display_df5["Total Purchase Value"] = display_df5["Total Purchase Value"].astype(float).map("${:,.2f}".format)

display_df5.head(50)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
60,Wolf,8,$3.54,$28.32
72,Winter's Bite,8,$3.77,$30.16
59,"Lightning, Etcher of the King",8,$4.23,$33.84
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
85,Malificent Bag,7,$1.75,$12.25
110,Suspension,7,$1.44,$10.08
71,Demise,7,$1.61,$11.27
53,Vengeance Cleaver,7,$2.05,$14.35
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
164,Exiled Doomblade,7,$1.63,$11.41
96,Blood-Forged Skeletal Spine,6,$3.09,$18.54
40,Second Chance,6,$2.52,$15.12
54,Eternal Cleaver,6,$2.50,$15.00
160,Azurewrath,6,$4.40,$26.40
93,Apocalyptic Battlescythe,6,$1.97,$11.82
129,"Fate, Vengeance of Eternal Justice",6,$1.54,$9.24
144,Blood Infused Guardian,6,$1.94,$11.64
22,Amnesia,6,$2.18,$13.08
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
120,Agatha,6,$3.08,$18.48
136,Ghastly Adamantite Protector,6,$3.58,$21.48
3,Phantomlight,6,$2.49,$14.94
143,Frenzied Scimitar,6,$1.56,$9.36
25,Hero Cane,6,$4.35,$26.10
102,Avenger,6,$3.44,$20.64
2,Verdict,6,$2.48,$14.88
12,Dawne,6,$1.02,$6.12
155,War-Forged Gold Deflector,5,$1.01,$5.05
131,Fury,5,$1.44,$7.20
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
133,Faith's Scimitar,5,$4.09,$20.45
137,"Aetherius, Boon of the Blessed",5,$3.39,$16.95
73,Ritual Mace,5,$2.05,$10.25
156,Soul-Forged Steel Shortsword,5,$1.77,$8.85
98,"Deadline, Voice Of Subtlety",5,$2.89,$14.45
150,Deathraze,5,$2.85,$14.25

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [40]:
# Create a new dataframe to display the results 
display_df6 = pd.DataFrame(
    {"Purchase Count": sumcount,
     "Item Price": itemprice,
     "Total Purchase Value": sumprice
    }
)

# Clean up the formatting (including changing the sort order to "Total Purchase Value")
display_df6 = display_df6.sort_values(["Total Purchase Value"], ascending=False)

display_df6["Purchase Count"] = display_df6["Purchase Count"].astype(float).map("{:,.0f}".format)
display_df6["Item Price"] = display_df6["Item Price"].astype(float).map("${:,.2f}".format)
display_df6["Total Purchase Value"] = display_df6["Total Purchase Value"].astype(float).map("${:,.2f}".format)

display_df6.head(500)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75